*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

h1{
    color: #900C3F;
    font-size: 2.5rem;
    font-weight: 700;
}

form{
    display: flex;
    width: 100%;
    padding: 3rem;
    font-weight: 700;
}

label{
    display: block;
}

input,select{
    border: 2px solid #CCCCCC;
}

input:focus, select:focus {
    border: 3px solid #900C3F;
}

input:focus-visible, select:focus-visible{
    outline: none;
}

#btn-crearArticulo,#btn-modificarArticulo{
    align-self: flex-end;
    position: relative;
    right: 3rem;
    padding: 0.5rem 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #514E7F;
    border: none;
    transition: 0.5s;
}

#btn-crearArticulo:hover,#btn-modificarArticulo:hover{
    background-color: #900C3F;
}

.area{
    flex-basis: 75%;
}

.info{
    flex-basis: 25%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border: 1px solid #CCCCCC;
    padding: 1rem 3rem ;
    background-color: #FFFFFF;
}