.cabecera{
    width: 100%;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
  
.cabecera img{
    width: 40rem;
    height: 40rem;
}
  
.texto h1{
    font-size: 70px;
    font-weight: 400;
    color: #464353;
}
  
.texto span{
    font-size: 80px;
    font-weight: 800;
    color: #900C3F;
}
  
.texto{
    position: relative;
    animation-name: entrada;
    animation-duration: 2.5s;
}
  
@keyframes entrada {
    from   {left: -1000px;}
    to  {left: 0px;}
}