:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background: #408080 !important; */
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)!important;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding-top: 2rem;
    text-align: center;
    color: #900C3F;
    font-weight: 700;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-left: 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.card {
    background: #222;
    border: 2px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
}

h6{
    font-family: System-iu;
}

.btn {
    border: 5px solid;
    border-image-slice: 2;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
    /* defino la transición entre dos estados del boton */
    padding: 0 1rem;
    /* Espacio interior botones*/
    font-weight: 200;
}

.btn:hover, .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

.container .card {
    width: 300px;
    height: 590px;
    border-radius: 8px;
    overflow: hidden;
    /* Margen entre las cartas  */
    margin: 10px;    
}

.container .card img {
    width: 300px;
    height: 300px;
}

.container .card-body {
    display: inline-block;
    width: 300px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    margin-top: 0%;
}

.container .card h5 {
    font-weight: 400;
}

.card-subtitle {
    color: #FF512F;
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 250;
    text-align: justify;
}

.modal h5, .modal h1 {
    color: #DD2476;
}

.btn-group {
    border-bottom: 1px;
    width: 300px;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}

/* Modal peli */
.modal #modal__photo {
    justify-content: center;
    background: #222;
    border: 2px solid #900C3F;
    color: rgba(250, 250, 250, 0.8);
}

#imagen {
    /* width: auto; */
    height: 100%;
}

/* Ataco al titulo del modal */
#subtitle {
    display: block;
    background-color: #900C3F;
    width: 100%;
    height:10%;
    position: relative;
    flex-direction: column;
}

.modal p {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 350;
    flex-direction: column;
}

.modal #modal-text {
    color:  #222;
    margin-bottom: -10px;
    padding: 2rem;
}

.modal #modal-text1 {
    color: #686868;
    display: flex;
    height: 90%;
    padding: 2rem;
    text-align: justify;
}

/* Ataca al título */
.modal h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding-top: 0;
}

@media (min-width: 1200px) {
    .modal-mg {
    width: 90%; 
    }
}