{% extends 'base.html.twig' %}

{% block title %}
    Articulos
    
{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
    rel="stylesheet">
    {# Libreria iconos boostrap #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/articulo.css">
    {% endblock %}

    {% block articulos %}
        active            
    {% endblock %}

    {% block main %}
    <section id="data">
        <h1>
            Base de datos Peliculeros
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    <table class="table table-bordered">
                        <thead>
                            <tr valign="middle" align="center">
                                <th scope="col">
                                    ID                         
                                </th>
                                <th scope="col">
                                    NOMPELI                        
                                </th>
                                <th scope="col">
                                    DIRECTOR                       
                                </th>
                                <th scope="col" class="botones">
                                    <a href="/articuloNuevo" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">
                                        Añadir artículo
                                    </a>                                                       
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in articulos %}
                                <tr valign="middle" align="center">
                                    <td scope="row">
                                        {{ dato.id }}
                                    </td>
                                    <td>
                                        {{ dato.nompeli }}
                                    </td>
                                    <td>
                                        {{ dato.director }}
                                    </td>
                                    <td class="botones">
                                <a href="/articuloModificar/{{ dato.nompeli }}" id="update" type="button" class="bi bi-pencil-square btn btn-success btn-lg btn-group me-2 mb-1" data-target="{{ dato }}" data-id="{{ dato.id }}"> </a>
                                        <button id="delete" type="button" class="bi bi-trash btn btn-danger btn-lg btn-group me-2 mb-1" data-id="{{ dato.id }}"> </button>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/articulos.js"></script>
{% endblock %}
