<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Peliculeros - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="img_web/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    <script src="https://cdn.tiny.cloud/1/5q1qeygswz2v8svx5akg6p3hgmehnjmpkhlyf7096letga14/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    {% endblock %}
  </head>
  <body>
    {{ session }}
    <nav class="navbar navbar-expand-lg navbar-dark py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Peliculeros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% block home %}  {% endblock %}" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% block categoria %}  {% endblock %}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-color dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/categoria/accion">Acción</a></li>
                <li><a class="dropdown-item" href="/categoria/dramaticas">Dramáticas</a></li>
                <li><a class="dropdown-item" href="/categoria/terror">Terror</a></li>
                <li><a class="dropdown-item" href="/categoria/comedias">Comedias</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block articulos %}  {% endblock %}" aria-current="page" href="/articulos">Articulos</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/cerrarSession">Cerrar Session</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block session %}  {% endblock %}" aria-current="page" href="/sesion">Iniciar Sessión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
      {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="/js/sesion.js"></script>
      {% endblock %}
</html>
