{% extends 'base.html.twig' %}

{% block title %}
    Categoria       
{% endblock %}

{% block head %} 
    {{ parent() }}
    <link rel="stylesheet" href="/css/styleCategoria.css"> 
{% endblock %}


{% block main %}
    <section id="categoria">
        <h1>
            {{ categoria }}
        </h1>
        <br>
            <div class="container">
                {% for c in pelis %}
                    {% set myVal = 'modal'~ c.id %}
                    {% set modal2 = 'info'~ c.id %}
                    <div class="card">
                        <img class="card-img-top" src="{{ c.fotourl }}" alt=" {{ c.nompeli }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ c.nompeli }}
                                </h5>
                            </div>
                            <h6 id="intro" class="card-subtitle mb-2">                                
                                    {{ c.intro }}
                            </h6>
                                <br>
                            <div class="btn-group btn-group-justified  btn-lg">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{ modal2 }}">
                                    + Info
                                </button>
                                </button>
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{ myVal }}">
                                    Trailer                        
                                </button>
                            </div>
                            {#  #}
                            <div class="modal fade" id="{{ modal2 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" id="popup" role="document" >
                                    <div class="modal-content" id="modal__inner">                                    
                                        <div class="modal-header" id="modal__photo">                                        
                                            <img id="imagen" src="{{ c.fotourl }}" class="img-fluid" alt="Responsive image">
                                        </div>
                                        <div class="modal" id="subtitle">
                                                <h1 class="modal-title" id="exampleModalLabel">
                                                    {{ c.nompeli }}
                                                </h1>
                                        </div>
                                        <div class="modal-body">
                                            <p class="modal-text" id="modal-text"> Director: {{ c.director }}</p>                                            
                                            <p class="modal-text" id="modal-text1">{{ c.argumento }}</p>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">
                                                Cerrar                                               
                                            </button>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="{{ myVal }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        {{ c.nompeli }}
                                                    </h5>                                            
                                                </div>
                                                <div class="modal-body">
                                                    <div class="ratio ratio-16x9">
                                                        <iframe class="youtubeplayer" id="youtubeplayer" src="{{ c.trailerurl }}" frameborder="0" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Cerrar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


        

{# <scritp src="/js/moda2l.js">
        <>
            $("#info1").on('hidden.bs.modal', function () {
            jQuery(".embed-container").find('iframe').remove();
        });
                $(document).ready(function () {
                    $('.modal').each(function () {
                        $this = $(this);
                        //al abrir play video
                        $this.on('shown.bs.modal', function () {
                            toggleVideo('playVideo', $(this));
                        });
                        //al cerrar modal pause video
                        $this.on('hidden.bs.modal', function () {
                            toggleVideo('pauseVideo', $(this));
                        })
                    });
            
                    function toggleVideo(state, div) {
                        var iframe = div.find("iframe")[0].contentWindow;
                        iframe.postMessage('{"event":"command","func":"' + state + '","args":""}', '*');
                    }
                });
            </> #}
            {# <footer>
                <p>
                    Creado por                                        
                    <i class="fa fa-heart"></i>
                    by 
                    <a target="_blank">
                        Ian Valero Gadea, Maria Isabel Fernández Perez, Cristina Santamaría Verdú 
                    </a>
                </p>
            </footer> #}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{% endblock %}

                    