{% extends 'base.html.twig' %}

{% block head %} 
    {{ parent() }}
    <link rel="stylesheet" href="/css/sesion.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Iniciar Sessión{% endblock %}

{% block session %}active{% endblock %}

{% block main %}
    <div class="circulo"></div>
        <div class="cabecera">
            <div>
                <img src="img_web/login2.svg" alt="cine">
            </div>
            <div class="login">
                <h2>Iniciar Sesión</h2>
                <h6 id="error"></h6>
                <form action="/crearSession" method="post" onsubmit="crearSession()">
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario" required><br>
                    <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" autocomplete="on" required><br>
                    <button type="submit" id="btnSession">Acceder</button>
                </form>
            </div>
        </div>
{% endblock %}
